body 
  padding 0
  margin 15px auto 0px auto
  background url(../../surf_from_below.jpg)

h1 
  font-family Garamond, serif
  line-height 1em
  color white
  font-weight bold
  text-shadow 0px 0px 0 rgb(8,102,184),1px 1px 0 rgb(-7,87,169),2px 2px 0 rgb(-21,73,155),3px 3px 0 rgb(-36,58,140),4px 4px 0 rgb(-50,44,126),5px 5px 0 rgb(-65,29,111), 6px 6px 0 rgb(-79,15,97),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2)

#city_search
  font-family Garamond, serif
  font-size 18px
  margin-left 30px
  color white
  font-weight bold
  text-shadow 0px 0px 0 rgb(8,102,184),1px 1px 0 rgb(-7,87,169),2px 2px 0 rgb(-21,73,155),3px 3px 0 rgb(-36,58,140),4px 4px 0 rgb(-50,44,126),5px 5px 0 rgb(-65,29,111), 6px 6px 0 rgb(-79,15,97),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2)

.header 
  margin 0 auto
  margin-bottom 15px

.header tbody tr td
  text-align center

.map-container
  margin 0 auto

.map 
  border solid 1px black

.title 
  font-size 75px

/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px)  
  .title
    font-size 22px
  .container
    margin 0 0 0 0 14px
    width 100%

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px)
  .title
    font-size 32px
  .container
    margin 0 0 0 14px
    width 100%

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) 
  .title
    font-size 65px
 
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) 
  .title
    font-size 45px
